body{
    font-family: "Raleway", "sans-serif";
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .container{
        padding: 2rem;
    }
}
