.cabecalho__logo{
    background: url("../../assets/img/logo.svg") center/cover no-repeat;
    height: 28px;
    width: 100px;
}

@media screen and (min-width: 1080px) {
    .cabecalho__logo{
        width: 176px;
        height: 50px;
    }
    
}