.cabecalho{
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
}

@media screen and (min-width: 768px) {
    .cabecalho{
        padding: 1rem 2rem;
    }
    
}
@media screen and (min-width: 1080px) {
    .cabecalho{
        padding: 1rem 152px;
        height: 115px;
    }
    
}