.footer__faleConosco--form{
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}
#label-nome, #label-mensagem{
	background-color: white;
	color: #a2a2a2;
	font-size: 12px;
	padding: 0.5rem 0 0 0.5rem;
}
#nome{
	border: none;
	margin-bottom: 1rem;
	height: 2rem;
	outline: none;
	padding: 0.5rem 0 0 0.5rem;
}
#mensagem{
	border: none;
	margin-bottom: 0.5rem;
	height: 50px;
	outline: none;
	padding: 0.5rem 0 0 0.5rem;
}
#enviar-mensagem{
	background-color: #2A7AE4;
	border: none;
	color: #fff;
	font-size: 14px;
	height: 40px;
	outline: none;
	width: 151px;
}