.produtos__card{
	box-sizing: border-box;
}

@media screen and (min-width: 768px) {
	.produtos__card{
		margin-right: 16px;
	}
	.produtos__card:nth-child(4n){
		margin-right: 0;
	}
	
}

@media screen and (min-width: 1080px) {
	.produtos__card{
		
		margin-right: 0;
	}
	
}