.banner__descricao{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
}

@media screen and (min-width: 768px) {
    .banner__descricao{
        font-size: 22px;
        padding: 16px 0;
    }
}