.produtos__similares--title{
	margin:0;
	margin-bottom: 1rem;
	color: #464646;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
}

@media screen and (min-width: 1080px) {
    .produtos__similares--title{
        font-size: 32px;
    }
}